export SSL_KEY_FILE="{{ playbook_dir }}/pki/private/{{ entity_name }}.key"
export SSL_CA_FILE="{{ playbook_dir }}/ca-certs/{{ entity_name }}-ca.crt"
export SSL_CERT_FILE="{{ playbook_dir }}/signed-certs/{{ entity_name }}.crt"
